<p>Transactions List</p>

<% @transactions.each do |transaction| %>
    <p>Vendor: <%= transaction.vendor_name %></p>
    <p>Satellite: <%= transaction.planet_name %></p>
    <p>Cargo Type: <%= transaction.cargo_id %></p>
    <p>Cost(Z): <%= transaction.value %></p>
<% end %>
