<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <li><a href='/transactions'>Display Transactions</a></li>
    <li><a href='/transactions/new'>Create New Transaction</a></li>
  </nav>
  <%= yield %>

</body>
</html>
