<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="menu">
      <li><a href='/transactions'>Display Transactions</a></li>
      <li><a href='/transactions/new'>Create New Transaction</a></li>
    </div>
    <h1>SmartZenny</h1>
    <%= yield %>
</body>
</html>
