 /* Site-wide CSS --------- */

body {
 background-color: black;
 background-image: url('/option-5.jpg');
 background-size: 100%;
 background-attachment: fixed;
 margin: 0;
 font-family: SF Digital Readout;
 color: #05f4de;
}

h1 {
  color: #05f4de;
  font-size: 70px;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: red;
}

li {
  list-style-type: none;
}

select {
  font-family: SF Digital Readout;
  font-size: 16px;

}

input {
  font-family: SF Digital Readout;
  font-size: 20px;


}

/* ----------- Menu --------- */
.menu {
  font-size: 50px;
  color: #05f4de;
  display: flex;
  justify-content: center;
  background-color: black;
  border-bottom: 5px dashed white;
}


.menu li {
  padding: 30px;
}

.menu li a {
  color: #05f4de;
}

.menu li a:hover {
  color: red;
}

/* ------ PAGES ----- */

.page {

  color: #05f4de;
  font-size: 40px;
  /* border: 2px solid red; */
  padding-left: 20px;
  padding-right: 20px;
}

/*------Transaction box ---- */

 .transaction-page {
  color: #05f4de;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  display: inline-block;
  text-align: center;
  }

.transaction-box {
  border: 2px solid green;
  width: 300px;
  padding: 30px;
  margin: 0 35px 30px 0;
  display: inline-block;
}

/*-----------Cost by Cargo Box---*/

.cargo-type {
  /* border: 2px solid blue; */
  text-align: left;
  font-size: 40px;
  padding: 30px;
}

.cargo-type li {
  border: 1px solid red;
  text-align: left;
  font-size: 40px;
  padding: 30px;
}

.overall-spent {
  /* border: 2px solid orange; */
  padding: 30px;
  text-align: left;
  font-size: 40px;
}

.cargo-list {
  /* border: 2px solid purple; */
  padding: 30px
}

/*------buttons------------*/

button {
  background-color: #2B7A78;
  opacity: 0.75;
   border: 2px solid #3AAFA9;
   color: white;
   padding: 16px 32px;
   text-decoration: none;
   margin-top: 20px;
   cursor: pointer;
   font-family: SF Digital Readout;
   font-size: 1.25em;
   width: 100%;
}

button:hover {
  color: red;
}
